/*CSS document*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    }
body {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #FFFFFF;
    color: #141414;
    padding: 2em;
    margin: 2em;
    text-align: center;
    }
div.container2{
    max-width: 30em;
    margin: auto;
    text-align: left;
    }
img {
    width: 100%;
    padding-bottom: 1em;
    }
img.storyimage{
    width: 70%;
    padding-top: 2em;
    align-items: left;
    }
 nav, ul, li {
    display: inline-block;
    list-style-type: none;
    padding: 0rem 0.7rem 1.3rem;
    text-align: center;
    color: #997760;
    }
 a:link, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    }
a.nav:hover {
    color:#72981F;
    }
h1{
    margin: auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
    width: 20em;
    }
h2{
    text-align: left;
    color: #997760;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.2;
    margin: 0.6em 0 0.8em;
    } 
h3{
    text-align: left;
    color: #997760;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.2;
    margin: 0.6em 0 0.8em;
    }
p{
    text-align: left;
    }
figcaption{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    margin-bottom: 1em;
    }
p.section-end{
    border-bottom: 2px solid #72981F;
    padding-bottom: 2em;
    margin-bottom: 1.5em;
    }
footer{
    padding: 1.5em 1em 2em;
    margin-top: 2em;
    border-top: 2px solid #997760;
    }
@media only screen and (min-width: 60em){
div.container{
    max-width: 80em;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0 2em;
    }
div.container2{
    max-width: 60em;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0 2em;
    }
main{
    display: grid;
    grid-gap: 0 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/2;
    }
header {
    grid-column: 1/3;
    }
section{
    max-width: 60em;
    margin: 0 auto;
    }
section.mainstory{
    grid-column: 2/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    }
section.mainstory a{
    flex: 1 0 10em;
    display: flex;
    flex-direction: column;
    }
section.mainstory a figure{
    flex: 1 0 10em;
    }
section.mainstory a figure img{
    height: 100%;
    object-fit: cover;
    }
section.mainstory a h3{
    flex: 0 0 auto;
    margin-top: 1em;
    }
section.mainstory a p{
    flex: 0 0 auto;
    margin-top: 0em;
    }
section.secondary figure{
    padding-bottom: 0em;
    }
    }